/*
-- Reset geral --
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

-- Body | Header | Nav --

*/

body{
    background-color: #F4E7DE;
}

header{
    background-color: #d0c7c167;
}

nav{
    display: flex;
}

/*
-- Links | Header --
*/



/*
-- Troca de idiomas | Header --
*/

#idioma{
    margin-left: auto;
    display: flex;
}

#idioma p{
    margin-top: 0;
    margin-right: 10px;
}

#idioma img{
    width: 25px;
    height: 15px;
}

/*

-- Textos | Span --

*/

h1, h2, h3, h4, h5, h6, small, p, a{
    color: burlywood;
}

.inicio_destaque{
    color: #6F4E37;
}



/*

-- Section inicio --

*/

#sec_inicio{
    align-content: center;
    width: 100%;
    min-height: 100vh;
}

.div_inicio{
    font-size: 30px;
    display: flex;
}

.text_inicio{
    margin-left: 15%;   
}

.pic_inicio{
    margin-left: auto;
    margin-right: 15%;
    
}

.pic_inicio img{
    width: 200px;
    height: 250px;
    border-radius: 40%;
    box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.2);
}

.text_inicio button{
    background-color: rgba(0,0,0,0.0);
    padding: 12px 30px;
    border: #6F4E37 2px solid;
    color: burlywood;
    font-size: 20px;
    border-radius: 30px;
}

/*

-- Section Curriculo --

*/

#sec_curriculo{
    width: 100%;
    min-height: 100vh;
}

